data/diagnozo.dtd

<!-- For documentation see README.pdf -->

<!ELEMENT diagnozo (diagnosis+)>

<!ELEMENT diagnosis (url*,anamnesis*,pe*,region*,xray*, ct*, mri*,dd*)>
<!ATTLIST diagnosis name CDATA #REQUIRED>

	<!ELEMENT url (#PCDATA)>
	<!ELEMENT anamnesis (#PCDATA)>	
	<!ELEMENT pe (#PCDATA)>	
	<!ELEMENT region (#PCDATA)>
	<!ELEMENT xray (#PCDATA)>
	<!ELEMENT ct (#PCDATA)>
	<!ELEMENT mri (#PCDATA)>
	<!ELEMENT dd (#PCDATA)>